/* Reset */

*:not(ul):not(ol) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    max-width: 100%;
}
/* General */
#Pfoot{
    display: inline;
    color: white;
}
.bottom-header {
    display: inline-block;
    width: 100%;
    margin: auto;
    min-height: 400px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jumbo-container {
    text-align: center;
    padding-top: 50px;
}
.jumboh1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.jumbop {
    margin: 10px 20px;
    line-height: 30px;
}
.flex-property {
    display: flex;
    flex-wrap: wrap;
}
.Stemma{
    height: 10px;
    width: 15px;
}
.title-footer{
    color: #7289da;
}
.list{
   text-align: start;
   
}
.button {
    background-color: white;
    border: 1px white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
}
.button2 {
    background-color: white;
    border: 1px white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
}
.button3 {
    background-color: black;
    border: 1px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 20px;
}
.button4{
    background-color: #7289da;
    border: 1px #7289da;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 45%;
}
.button5 {
    margin-left: 1200px;
    background-color: #7289da;
    border: 1px #7289da;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
}

.section{
    padding: 150px;
}
.section2 {
    padding: 150px;
}
.h2 {
    margin-top: 40px;

}
.freccia{
    font-size: x-small;
}
.h2special {
    font-size: xx-large;
    margin-top: 40px;
    margin-left: 330px;
}
.h2special2 {
    font-size: xx-large;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.p{
    
    margin-top: 40px;
    margin-left: 270px;

        
}
.perc25 {
    width: 25%;
}

.perc30 {
    width: 30%;
}

.perc40 {
    width: 40%;
}

.perc50 {
    width: 50%;
}

.perc60 {
    width: 60%;
}

.perc70 {
    width: 70%;
}

.row-reverse-property {
    flex-direction: row-reverse;
}

/* Header */

header {
    min-height: 100px;
}
.BGH{
    background-color: #255ee9;
    color: white;
}

.a{
    text-decoration:none;
    color: white;
}
.link{
    display: flex;
    color: white;
    justify-content: space-between;
}

header>nav {
    width: 70%;
    margin: auto;
    min-height: 50px;
}

.logo,
.navbar,
.login-section {
    padding: 10px 10px;
}

.navbar {
    text-align: center;
}

.login-section {
    text-align: right;
}

/* Main */

main>section {
    padding: 30px;
}

main>section>.frame60-50{
    margin:auto;
}
main>section>.frame80-60 {
    display: flex;
    justify-content: center;
    margin: auto;
}

main>section>div.flex-property {
    width: 80%;
    margin: auto;
}

main>section:last-of-type {
    padding-top: 10px;
    padding-bottom: 30px;
}

/* Footer */
.bg-footer{
    background-color:#23272a;
}